{% extends 'base.html' %}

{% block title %}Combos{% endblock %}

{% block content %}
    <div class="content" id="content">
      <h3 class="mt-4">Cadastro de Combo de Produtos</h3>
        <form method="POST" id="form-solicitacao">
        {% csrf_token %}

        <!-- Campos do cabeçalho -->

        <div class="row">
                {% for field in form %}
                <div class="col-md-3 mb-2 form-floating">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
                {% endfor %}
        </div>

        <hr>

        <!-- Botão para abrir modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#itemModal">
            <i class="bi bi-plus-circle"></i> Adicionar Item
        </button>

        <br><br>

        <!-- Tabela de itens -->
            <div class="tab-content table-responsive" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    <table id="tabela-itens" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Remover</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

        <!-- Campo escondido para enviar os itens em JSON -->
        <input type="hidden" name="itens_json" id="itens_json">

        <button type="submit" class="btn btn-success"><i class="bi bi-floppy"></i> Salvar Combo</button>
        </form>

<!-- Modal de adicionar item -->
<div class="modal fade" id="itemModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adicionar Produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label>Item</label>
          <select id="item" class="form-control">
            {% for i in itens %}
              <option value="{{ i.codigo }}">{{ i.descricao }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label>Quantidade</label>
          <input type="number" id="quantidade" min="1" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="btn-add-item">Adicionar</button>
      </div>
    </div>
  </div>
</div>

<script>
// Funções relacionadas a itens de compra
   let itens = [];

   document.getElementById("btn-add-item").addEventListener("click", function() {
     let item        = document.getElementById("item");
     let qtd         = document.getElementById("quantidade").value;

     let obj = {
       id: item.value,
       nome: item.options[item.selectedIndex].text,
       quantidade: qtd,
     };

     itens.push(obj);
     atualizarTabela();

     // fecha modal
     var modal = bootstrap.Modal.getInstance(document.getElementById('itemModal'));
     modal.hide();
   });

   function atualizarTabela() {
     let tbody = document.querySelector("#tabela-itens tbody");
     tbody.innerHTML = "";
     itens.forEach((i, index) => {
       tbody.innerHTML += `
         <tr>
           <td>${i.nome}</td>
           <td>${i.quantidade}</td>
           <td><button type="button" class="btn btn-danger btn-sm" onclick="removerItem(${index})"><i class="bi bi-trash"></i></button></td>
         </tr>
       `;
     });
     document.getElementById("itens_json").value = JSON.stringify(itens);
    
     // Atualiza o valor total apenas se o elemento existir
     const valorTotalElement = document.getElementById("id_valor_total");
     if (valorTotalElement) {
       valorTotalElement.value = itens.reduce((acc, i) => acc + i.total, 0).toFixed(2).replace('.', ',');
     }
   }

   function removerItem(index) {
     itens.splice(index, 1);
     atualizarTabela();
   }

   $("#id_custo").change(function() {
       if($(this).is(":checked")) {
           $("#id_preco").attr("disabled", true);
       } else {
           $("#id_preco").attr("disabled", false);
       }
   });
</script>

{% endblock %}