{% extends 'base.html' %}

{% block title %}Cautelas de Devolução{% endblock %}

{% block content %}
<div class="content" id="content">
  <h3 class="mt-4">Lista de Cautelas de Devolução</h3>
  <hr>

  <div class="table-responsive">
    <table id="tabela-cautelas" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Locação</th>
          <th>Data</th>
          <th>Status</th>
          <th>Itens</th>
          <th>Cautela</th>
          <th>Ressarcimento</th>
        </tr>
      </thead>
      <tbody>
        {% for c in cautelas %}
        <tr>
          <td>{{ c.locacao.cliente }}</td>
          <td>{{ c.locacao.codigo }}</td>
          <td>{{ c.data_devolucao|date:"d/m/Y" }}</td>
          <td>
              {% if c.status == 'Completa' %}
                  <span class="badge bg-success">Completa</span>
              {% else %}
                  <span class="badge bg-warning text-dark">Pendente</span>
              {% endif %}
          </td>
          <td>
              <ul>
              {% for item in c.itens.all %}
                  <li><b>Item:</b> {{ item.item_locacao.produto.descricao }}
                                  {% if item.estado == 'danificado' %}
                                      <span class="badge bg-danger">Danificado</span>
                                  {% else %}
                                      <span class="badge bg-success">Bom</span>
                                  {% endif %}
                  </li>
              {% endfor %}
              </ul>
          </td>
          <td>
              <a href="{% url 'imprimir_cautela_devolucao' c.id %}" target="_blank" 
                  class="btn btn-danger btn-sm">
                  <i class="bi bi-file-earmark-pdf"></i>
              </a>
          </td>
          <td>
              <a href="{% url 'imprimir_cautela_ressarcimento' c.locacao.id %}" target="_blank" 
                  class="btn btn-danger btn-sm">
                  <i class="bi bi-file-earmark-pdf"></i>
              </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Script para DataTables -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    new DataTable('#tabela-cautelas', {
      language: {
        url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json',
      },
      pageLength: 10,
      ordering: true,
    });
  });
</script>
{% endblock %}